mixin metaLink
	meta(charset='utf-8')

	link(rel='canonical', href='http://www.chopsticks.ru')
	link(rel='alternate', href='http://www.chopsticks.ru/en', hreflang='en')
	meta(
		name='viewport',
		content='width=device-width',
		initial-scale='1.0 viewport-fit=cover',
		user-scalable='0',
		shrink-to-fit='no'
	)
		//- порядок следующий должен быть
		//- css -> rel="stylesheet" type="text/css" href="built.css">
		//- script базовый
		//- title
		//-  meta(property="analytics-track", content="chopsticks")
	meta(name='Description', content='Making furniture to order')
	meta(property='og:title', content='Палочки для еды в брендированной эко-упаковке')
	meta(property='og:description', content='Палочки для еды в брендированной эко-упаковке.')

	meta(
		name='keywords',
		content='Палочки для еды, Эко-упаковка, Брендированные палочки, Упаковка для палочек, Палочки для еды с логотипом, Экологичные палочки для еды, Биоразлагаемая упаковка, Палочки для еды с уникальным дизайном, Упаковка для палочек с надписью, Эко-френдли палочки для еды'
	)

	meta(property='og:url', content='http://www.chopsticks.ru')
	meta(property='og:locale', content='ru')
	//- meta( property="og:image" content="https://www.apple.com/ac/structured-data/images/open_graph_logo.png?202110180743")
	meta(property='og:type', content='website')
	meta(property='og:site_name', content='chopsticks')
	//- часта обновления
	meta(name='author', content='Denis Gutsuliak')
	meta(http-equiv='reply-to', content='d.99113@gmail.com')
	meta(name='date', content='Jun 02 2023 9:00 GMT')
	//-Частота индексации роботами поисковых систем (Яндекс её игнорирует):
	<meta name="revisit-after" content="10 days">

	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(http-equiv='refresh', content='1000000000')
	meta(name='robots', content='all')

mixin linkBase
	link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
